.#*
#ignore thumbnails created by windows
Thumbs.db
#ignore database sync files
*.dbmdl
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
#ignore build nuget packages, include the EXE
*.nupkg
!NuGet.exe
*.prg3p1
*.4sx3p1
*.s3sx3p1
/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
*.iml
/.metadata
#ignore Leiningen target files
[Tt]arget/
#ignores files created by diff
*.diff.lisp
*.diff
