[project]
	description = Causal Dynamical Triangulations
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tryggth
[access "refs/for/refs/*"]
	read = group user/tryggth
	push = group user/tryggth
	label-Code-Review = -2..+2 group user/tryggth
	label-Verified = -1..+1 group user/tryggth
	rebase = group user/tryggth
	removeReviewer = group user/tryggth
	submit = group user/tryggth
[access "refs/heads/*"]
	read = group user/tryggth
	create = group user/tryggth
	push = +force group user/tryggth
	pushMerge = group user/tryggth
[access "refs/tags/*"]
	push = +force group user/tryggth
	pushTag = group user/tryggth
	pushSignedTag = group user/tryggth
